[submodule "cookbooks/postgresql"]
	path = cookbooks/postgresql
	url = git://github.com/opscode-cookbooks/postgresql.git
[submodule "cookbooks/openssl"]
	path = cookbooks/openssl
	url = git://github.com/opscode-cookbooks/openssl.git
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = git://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/geodjango"]
	path = cookbooks/geodjango
	url = git://github.com/niran/chef-geodjango.git
[submodule "cookbooks/localwiki"]
	path = cookbooks/localwiki
	url = git://github.com/niran/chef-localwiki.git
[submodule "cookbooks/python"]
	path = cookbooks/python
	url = git://github.com/opscode-cookbooks/python.git
[submodule "ec2"]
	path = ec2
	url = git://github.com/niran/vagrant-ec2.git
